In [1]:
# Dict
# -indexing
# -Multiple and Duplicate Data
# -Mutable

In [3]:
# d= {<key>:<value>,<key>:<value>,......}

In [5]:
d= {'a':'Apple','b':'Ball'}
print(type(d))

<class 'dict'>

In [7]:
d={'name':'Ram','age':'34','add':'Kathmandu'}
print(len(d))

3

In [19]:
print(d['name'])
print(d['age'])
print(d['add'])

Ram
34
Kathmandu

In [ ]:
#CRUD

In [17]:
#Read
d={'name':'Ram','age':'34','add':'Kathmandu'}
print(d.values())
print(d.keys())
print(d.items())

dict_values(['Ram', '34', 'Kathmandu'])
dict_keys(['name', 'age', 'add'])
dict_items([('name', 'Ram'), ('age', '34'), ('add', 'Kathmandu')])

In [13]:
d={'name':'Ram','age':'34','add':'Kathmandu'}
for i in d:
    print(i)

name
age
add

In [15]:
d={'name':'Ram','age':'34','add':'Kathmandu'}
for i in d.values():
    print(i)

Ram
34
Kathmandu

In [21]:
#create #key should not be same but the value must be same
d={'name':'Ram','age':'34','add':'Kathmandu'}

In [23]:
d={}
d['Ram']=9845632145
d['Shyam']=9863214567
d['Hari']=98478653231
print(d)

{'Ram': 9845632145, 'Shyam': 9863214567, 'Hari': 98478653231}

In [25]:
# In Dict there is no concardination + *
# we have to use update function

In [27]:
a={1:1, 2:4, 3:9, 4:16}
b={5:25, 6:36, 7:49}
a.update(b)
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [29]:
d=dict()
n=int(input("Enter n="))
for i in range(n):
    name= input("Enter name=")
    phone= input("Enter phone=")
    d[name]=phone

print(d)

Enter n= 2
Enter name= Ram
Enter phone= 98654323145
Enter name= Shyam
Enter phone= 9874563214

{'Ram': '98654323145', 'Shyam': '9874563214'}

In [31]:
# d[name]=phone
#name=key and phone=value

In [33]:
#update
a={'Ram': '98654323145', 'Shyam': '9874563214'}
a['Ram']='9803612345'
print(a)

{'Ram': '9803612345', 'Shyam': '9874563214'}

In [35]:
#insert
a={'Ram': '98654323145', 'Shyam': '9874563214'}
a['Rama']='9803612345'
print(a)

{'Ram': '98654323145', 'Shyam': '9874563214', 'Rama': '9803612345'}

In [37]:
#delete 
#del() pop()

In [39]:
a={'Ram': '98654323145', 'Shyam': '9874563214', 'Rama': '9803612345'}
del a['Ram']
print(a)

{'Shyam': '9874563214', 'Rama': '9803612345'}

In [41]:
a={'Ram': '98654323145', 'Shyam': '9874563214', 'Rama': '9803612345'}
a.pop('Shyam')
print(a)

{'Ram': '98654323145', 'Rama': '9803612345'}

In [43]:
a={'Ram': '98654323145', 'Shyam': '9874563214', 'Rama': '9803612345'}
b= a.pop('Ram')
print(a)
print(b)

{'Shyam': '9874563214', 'Rama': '9803612345'}
98654323145

In [45]:
#a={'Ram': '98654323145', 'Shyam': '9874563214', 'Rama': '9803612345'}

In [49]:
#List inside dict
# a={'Ram':[9845632145,987456331],
#    'shyam':[9806812345,9845212365],
#    'Hari':[9845678945,9815263214]}

In [51]:
# a={'name':['Ram','Shyam','Hari'],
#    'age':[34,25,45],
#    'add':["Kathmandu","Bhaktapur","Lalitpur"]}

In [53]:
a={}
n= int(input("Enter no of rows="))
for i in range(n):
    name= input("Enter name=")
    ntc= input("Enter ntc phone no=")
    ncell= input("Enter ncell phone no=")
    a[name]=[ntc,ncell]

print(a)

Enter no of rows= 2
Enter name= Ram
Enter ntc phone no= 9845632145
Enter ncell phone no= 9806845632
Enter name= Shyam
Enter ntc phone no= 9845878945
Enter ncell phone no= 9815263321

{'Ram': ['9845632145', '9806845632'], 'Shyam': ['9845878945', '9815263321']}

In [57]:
# a={'name':['Ram','Shyam','Hari'],
#    'age':[34,25,45],
#    'add':["Kathmandu","Bhaktapur","Lalitpur"]}
a={"name":[],
   "ntc":[],
   "ncell":[]}
n= int(input("Enter no of rows="))
for i in range(n):
    name= input("Enter name=")
    ntc= input("Enter ntc phone no=")
    ncell= input("Enter ncell phone no=")
    a["name"].append(name)
    a["ntc"].append(ntc)
    a["ncell"].append(ncell)

print(a)

Enter no of rows= 2
Enter name= Ram
Enter ntc phone no= 9845633214
Enter ncell phone no= 9806814567
Enter name= Shyam
Enter ntc phone no= 9845789632
Enter ncell phone no= 9815236987

{'name': ['Ram', 'Shyam'], 'ntc': ['9845633214', '9845789632'], 'ncell': ['9806814567', '9815236987']}