In [1]:
# File
#open('<file_name>','<mode>')
#with open('<file_name>','<name>')
# operations
#modes
# r->read
# w->write
# x->create
# a->append

In [7]:
#create
try:
    file =open('data.txt','x')
    file.close()
except:
    print("There is same file")

There is same file

In [15]:
# write
data ="Hello World"
file= open('data1.txt','w')
file.write(data)
file.close()

In [13]:
#Read
file=open('data.txt','r')
my_data=file.read()
print(my_data)
file.close()

Hello World

In [17]:
#append
data="Hello World\n"
file=open('data1.txt','a')
file.write(data)
file.close()

In [23]:
#Bill sysytem
bill=""
s=0
n=int(input("Enter n="))
for i in range(n):
    product=input("Enter product name=")
    price=int(input("Enter price="))
    qty=float(input("Enter quantity="))
    total=price*qty
    row=f"{product} {price} {qty} {total}\n"
    bill= bill +row

file= open('bill.txt','a')
file.write(bill)
file.close()

Enter n= 2
Enter product name= Rice
Enter price= 120
Enter quantity= 5
Enter product name= Wheat
Enter price= 60
Enter quantity= 4

In [27]:
#Read
file=open('bill.txt','r')
my_data=file.read()
print(my_data)
file.close()

Rice 120 5.0 600.0
Wheat 60 4.0 240.0

In [29]:
my_data

'Rice 120 5.0 600.0\nWheat 60 4.0 240.0\n'

In [31]:
row=my_data.split('\n')[0:-1]
row

['Rice 120 5.0 600.0', 'Wheat 60 4.0 240.0']

In [35]:
bills=[]
for i in row:
    x=i.split()
    x[1]=int(x[1])
    x[2]=float(x[2])
    x[3]=float(x[3])
    bills.append(x)

print(bills)

[['Rice', 120, 5.0, 600.0], ['Wheat', 60, 4.0, 240.0]]

In [37]:
s=0
for i in bills:
    s=s+i[3]

print(s)

840.0

In [49]:
## Bill sysytem
bill=""
s=0
n=int(input("Enter n="))
for i in range(n):
    product=input("Enter product name=")
    price=int(input("Enter price="))
    qty=float(input("Enter quantity="))
    total=price*qty
    row=f"{product}, {price}, {qty}, {total}\n"
    bill= bill +row
    s=s+total
#write mode
file= open('bill.csv','w')
file.write('Product,Price,Quantity,Total\n')
file.write(f"{bill}\n")
file.write(f"Total={s}")
file.close()

#append
file=open('all_bill.csv','a')
file.write(bill)
file.close()

Enter n= 4
Enter product name= Apple
Enter price= 400
Enter quantity= 6
Enter product name= Banana
Enter price= 250
Enter quantity= 5
Enter product name= Grape
Enter price= 350
Enter quantity= 4
Enter product name= Pear
Enter price= 300
Enter quantity= 8

In [41]:
pwd

'C:\\Users\\hp\\PYTHON 630'

In [5]:
import csv
bill=[['Name','Price','Quantity','Total'],
     ['Apple', 2000, 3.0, 6000.0],
     ['Banana', 1000, 2.0, 1000.0],
     ['Momo', 200, 3.0, 600.0],
     ['Coke', 150, 5.0, 750.0]]
file=open('list_bill.csv','w')
x=csv.writer(file)
x.writerows(bill)
file.close()

In [7]:
import pandas as pd
file = pd.read_csv('list_bill.csv')
print(file)

     Name  Price  Quantity   Total
0   Apple   2000       3.0  6000.0
1  Banana   1000       2.0  1000.0
2    Momo    200       3.0   600.0
3    Coke    150       5.0   750.0

In [11]:
#list inside list
col=['Name', 'price', 'Quantity', 'Total']
bill=[['Apple', 2000, 3.0, 6000.0],
     ['Banana', 1000, 2.0, 1000.0],
     ['Momo', 200, 3.0, 600.0],
     ['Coke', 150, 5.0, 750.0]]
df=pd.DataFrame(bill,columns=col)
df.to_csv('dataframe_bill.csv')
print(df)

     Name  price  Quantity   Total
0   Apple   2000       3.0  6000.0
1  Banana   1000       2.0  1000.0
2    Momo    200       3.0   600.0
3    Coke    150       5.0   750.0

In [13]:
#list inside dictionery
data= {'Name':['Ram','Shyam','Hari'],
       'Age':[34,38,52],
       'Add':['Kathmandu','Bhaktapur','Lalitpur']}
df=pd.DataFrame(data)
df.to_csv('dictdata.csv')
print(df)

    Name  Age        Add
0    Ram   34  Kathmandu
1  Shyam   38  Bhaktapur
2   Hari   52   Lalitpur

In [15]:
#Dictionery write
#Dictionery inside list
import csv
csv_columns = ['Name', 'Age', 'Address']
dict = [
    {'Name':'Aayush','Age':23,'Address':'Katmandu'},
    {'Name':'Shyam','Age':33,'Address':'Patan'}
]
file=open("data.csv", 'w') 
writer = csv.DictWriter(file, fieldnames=csv_columns)
writer.writeheader()
for data in dict:    
    writer.writerow(data)
file.close()

In [17]:
pwd

'C:\\Users\\hp\\PYTHON 630'

In [19]:
df=pd.read_csv('data.csv')
print(df)

     Name  Age   Address
0  Aayush   23  Katmandu
1   Shyam   33     Patan

In [23]:
#Dictionery Read
import csv
file= open('data.csv') 
reader = csv.DictReader(file)
for row in reader:
        print(row)

{'Name': 'Aayush', 'Age': '23', 'Address': 'Katmandu'}
{'Name': 'Shyam', 'Age': '33', 'Address': 'Patan'}