In [1]:
# python collection
# list
# Tuple
# collection
# set

In [ ]:
# List
# Indexing
# ordered
# multiple
# mutable

In [3]:
a= [1,2,3,4,5,6,7,8,9,10]
b= ["Apple","Ball","cat","Dog"]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Apple,Ball,cat,Dog']

In [11]:
print(len(a))
print(len(b))

10
1

In [13]:
a= ["Apple","Ball","cat","Dog","Egg","Fish"]
print(a[0])
print(a[-1])
print(a[0:5])
print(a[0:6:2])
print(a[::-1])

Apple
Fish
['Apple', 'Ball', 'cat', 'Dog', 'Egg']
['Apple', 'cat', 'Egg']
['Fish', 'Egg', 'Dog', 'cat', 'Ball', 'Apple']

In [15]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c= a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [19]:
# append() insert()  extend()

In [21]:
a= []
a.append("Apple")
a.append("Ball")
a.append("Cat")
print(a)

['Apple', 'Ball', 'Cat']

In [23]:
l=[]
n= int(input("Enter n="))
for i in range(n):
    a=input("Enter name=")
    l.append(a)

print(l)

Enter n= 3
Enter name= Ram
Enter name= Shyam
Enter name= hari

['Ram', 'Shyam', 'hari']

In [27]:
#insert
a=['Ram', 'Shyam', 'hari']
a.insert(1,"Akash")
print(a)

['Ram', 'Akash', 'Shyam', 'hari']

In [29]:
a= [1,2,3,4,5]
b= [6,7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
a= [1,2,3,4,5]
b= [6,7,8,9,10,]
c= [11,12,13]
a.extend(b+c)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [35]:
#CRUD
#Read
a= ['Ram', 'Akash', 'Shyam', 'hari']
for i in a:
    print(i)

Ram
Akash
Shyam
hari

In [37]:
#Read
a= ['Ram', 'Akash', 'Shyam', 'hari']
l= len(a)
for i in range(l):
    print(a[i])

Ram
Akash
Shyam
hari

In [41]:
#update
a=['Ram', 'Akash', 'Shyam', 'hari']
a[0]= 'Rama'
print(a)

['Rama', 'Akash', 'Shyam', 'hari']

In [43]:
a=['Ram', 'Akash', 'Shyam', 'hari']
a[0:2]= ['Rama','shyam']
print(a)

['Rama', 'shyam', 'Shyam', 'hari']

In [47]:
a=['Ram', 'Akash', 'Shyam', 'hari']
a.index('Shyam')

2

In [53]:
a=['Ram', 'Akash', 'Shyam', 'hari']
i= a.index("Shyam")
a[i]= "Shyama"
print(a)

['Ram', 'Akash', 'Shyama', 'hari']

In [1]:
a=["Ram", "Shyam", "Hari", "Sita","Gita"]
i= a.index("Ram")
a[i]="Bharat"
print(a)

['Bharat', 'Shyam', 'Hari', 'Sita', 'Gita']

In [3]:
a=["Mango","Banana","Litchi"]
b=["Potato","Tomato","onion","Chilli"]
c=["Rice","Bread","flour"]
a.extend(b+c)
print(a)

['Mango', 'Banana', 'Litchi', 'Potato', 'Tomato', 'onion', 'Chilli', 'Rice', 'Bread', 'flour']

In [5]:
# delete
# del() remove() pop()
a=['Ram','Shyam','Hari','Sita'',Gita']
del a[0]
print(a)

['Shyam', 'Hari', 'Sita,Gita']

In [7]:
a=['Ram','Shyam','Hari','Sita'',Gita']
a.remove("Shyam")
print(a)

['Ram', 'Hari', 'Sita,Gita']

In [11]:
a=['Ram','Shyam','Hari','Sita'',Gita']
del a[0:2]
print(a)

['Hari', 'Sita,Gita']

In [13]:
a=['Ram','Shyam','Hari','Sita'',Gita']
b=a.pop(0)
print(a)
print(b)

['Shyam', 'Hari', 'Sita,Gita']
Ram

In [15]:
a=['Ram','Shyam','Hari','Ram','Sita'',Gita','Ram']
c=a.count("Ram")
for i in range(c):
    a.remove('Ram')

print(a)

['Shyam', 'Hari', 'Sita,Gita']

In [19]:
#Read the index
a=['Ram','Shyam','Hari','Ram','Sita'',Gita','Ram']
for i in range(len(a)):
    if "Ram"==a[i]:
        print(i)

0
3
5

In [21]:
#Read and Update
a=['Ram','Shyam','Hari','Ram','Sita'',Gita','Ram']
for i in range(len(a)):
    if "Ram"==a[i]:
        a[i]="Rama"
print(a)

['Rama', 'Shyam', 'Hari', 'Rama', 'Sita,Gita', 'Rama']

In [25]:
#Basic Math
#min() max() sum() sort() reverse()
a=[123,456,124,321,632,478,354,234]
print("The min value=",min(a))
print("The max value=",max(a))
print("The sum of list=",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

The min value= 123
The max value= 632
The sum of list= 2722
[123, 124, 234, 321, 354, 456, 478, 632]
[632, 478, 456, 354, 321, 234, 124, 123]

In [27]:
a=["Zebra","Apple","Cat","Bat","ant"]
a.sort()
print(a)

['Apple', 'Bat', 'Cat', 'Zebra', 'ant']

In [29]:
a=["Zebra","Apple","Cat","Bat","ant","1","2"]
a.sort()
print(a)

['1', '2', 'Apple', 'Bat', 'Cat', 'Zebra', 'ant']

In [31]:
a=[".Zebra","Apple","Cat","Bat","1ant","1","2"]
a.sort()
print(a)

['.Zebra', '1', '1ant', '2', 'Apple', 'Bat', 'Cat']

In [33]:
#Search
a=["Zebra","Apple","Cat","Bat","ant"]
search= input("Enter data for search=")
if search in a:
    print("Yes there is")
    print(a.count(search))
else:
    print("There is no such Apple")

Enter data for search= Apple

Yes there is
1

In [35]:
#Make caseinsensitive

In [37]:
#nested list
a=[['Ram',34,'Kathmandu'],
   ['Shyam',78,'Bhaktapur'],
   ['Hari',56,'Lalitpur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [39]:
info=[]
n= int(input("Enter n="))
for i in range(n):
    name =input("Enter name=")
    age =int(input("Enter age="))
    add =input("Enter add=")
    info.append([name,age,add])

print(info)

Enter n= 3
Enter name= Ram
Enter age= 34
Enter add= Kathmandu
Enter name= shyam
Enter age= 78
Enter add= Bhaktapur
Enter name= Hari
Enter age= 56
Enter add= Lalitpur

[['Ram', 34, 'Kathmandu'], ['shyam', 78, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [41]:
print(info[0])
print(info[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [45]:
for i in info:
    print(i)

['Ram', 34, 'Kathmandu']
['shyam', 78, 'Bhaktapur']
['Hari', 56, 'Lalitpur']

In [47]:
# Search with name
name=input("Enter name=")
for i in info:
    if name in i:
        print(i)

Enter name= Ram

['Ram', 34, 'Kathmandu']

In [63]:
age=int(input("Enter age="))
for i in info:
    if i[1] >=age:
        print(i)

Enter age= 60

['shyam', 78, 'Bhaktapur']

In [ ]:
#Try CRUD in info