In [1]:
# loop
# for loop 
# while loop

In [3]:
# range(5)     #0,1,2,3,4
# range(1,5)   #1,2,3,4
# range(0,5,2) #0,2,4

In [11]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [13]:
for i in range(1,5):
    print(i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [15]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [17]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [21]:
a= int(input("Enter a="))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

Enter a= 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [23]:
for i in range(5):
    a= int(input("Enter a="))
    print(a)

Enter a= 5

5

Enter a= 4

4

Enter a= 6

6

Enter a= 7

7

Enter a= 5

5

In [27]:
s=0
for i in range(5):
    a=int(input("Enter a="))
    s=s+a
    print(s)

Enter a= 1000

1000

Enter a= 2000

3000

Enter a= 500

3500

Enter a= 4000

7500

Enter a= 6000

13500

s=0
n= int(input("Enter n="))
for i in range(n):
    a=int(input("Enter a="))
    s=s+a
    print(s)

In [2]:
s=0
n= int(input("Enter n="))
for i in range(n):
    a= int(input("Enter a="))
    s=s+a
    print(s)

Enter n= 3
Enter a= 4000

4000

Enter a= 3000

7000

Enter a= 2000

9000

In [8]:
s = ""
n =int(input("Enter n="))
for i in range(n):
    name= input("Enter name=")
    phone= input("Enter phone=")
    s= s+name+"--"+phone+"\n"

print(s)

Enter n= 2
Enter name= Ram
Enter phone= 9845632145
Enter name= Shyam
Enter phone= 985674563

Ram--9845632145
Shyam--985674563

In [10]:
# 4! = 1*2*3*4
# 5 = 1+2+3+4+5

In [12]:
s = 0
n = int(input("Enter n="))
for i in range(1,n+1):
    s=s+i
    print("i=",i)
    print("s=",s)

Enter n= 5

i= 1
s= 1
i= 2
s= 3
i= 3
s= 6
i= 4
s= 10
i= 5
s= 15

In [14]:
s= 1
n = int(input("Enter n="))
for i in range(1,n+1):
    s=s*i
    print("s=",s)

Enter n= 5

s= 1
s= 2
s= 6
s= 24
s= 120

In [16]:
for i in range(5):
    print(i*'*')

*
**
***
****

In [22]:
for i in range(5):
    print(" "*(5-i),(2*i-1)*'*')
for i in range(5):
    print(" "*3,"*"*2)

     *
    ***
   *****
  *******
    **
    **
    **
    **
    **

In [3]:
for x in range(1,20):
    if x==13:
        break
    else:
        print(x)

1
2
3
4
5
6
7
8
9
10
11
12

In [1]:
# loop in string

In [5]:
a= "Hello"
for i in a:
    print(i, end=" ")

H e l l o

In [7]:
a=" Hello world. I am python."
for i in a:
    if i !=".":
        print(i, end="")

 Hello world I am python

In [9]:
a= "Hello world! I am python."
for i in a:
    if i !="." and i !="!":
        print(i, end= "")

Hello world I am python

In [11]:
a= "Hello world! I am python."
for i in a:
    if i !="!":
        print(i,end="")
    else:
        print("\n")

Hello world

 I am python.

In [13]:
a= "Hello world. I am python."
for i in a:
    if i !=".":
        print(i,end="")
    else:
        break

Hello world

In [15]:
# control statement
# break
# continue

In [17]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [19]:
for i in range(10):
    if i==5:
        continue
    print(i, end=" ")

0 1 2 3 4 6 7 8 9

In [21]:
a= "Hello world. I am python."
for i in a:
    if i !=".":
        print(i,end="")
    else:
        print(".")
        break

Hello world.

In [23]:
for i in range(10,1,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2

In [25]:
# # while loop
# while <condition>:
#     <operation>

In [27]:
i= 0
while i <=5:
    print("Hello World")
    i=i+1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [5]:
i= 1
a=int(input("Enter a="))
while i<=10:
    print(a,"*",i,"=",a*i)
    i=i+1

Enter a= 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [31]:
i=0
s=""
n=int(input("Enter n="))
while i<n:
    name = input("Enter name=")
    phone =input("Enter phone=")
    s=s+name+"--"+phone+"\n"
    i=i+1

Enter n= 3
Enter name= Ram
Enter phone= 9863542321
Enter name= Shyam
Enter phone= 9845632145
Enter name= Hari
Enter phone= 9874563211

In [35]:
i= 1
s=1
n=int(input("Enter n="))
while i<=n:
    s=s*i
    i=i+1
print("s=",s)

Enter n= 5

s= 120

In [43]:
i=0
while i<=10:
    if i==5:
        break
    print(i,end=" ")
    i=i+1

0 1 2 3 4

In [45]:
i=0
while i<=10:
    if i==5:
        i=i+1
        continue
    print(i,end=" ")
    i=i+1

0 1 2 3 4 6 7 8 9 10

In [47]:
# nested loop

In [53]:
for i in range(3):
    for j in range(3):
        for k in range(3):
            print(i,j,k)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
1 2 0
1 2 1
1 2 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
2 2 0
2 2 1
2 2 2

In [1]:
# WAP to detect if the given no is prime or composite
# use for else loop

In [ ]:
for i in range(1,20):
    if i