In [5]:
# string
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [7]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [9]:
a= "Hello World\n"
b= 2
print(a*b)

Hello World
Hello World

In [13]:
# sting is imutable

In [15]:
a = "Hello World"
print(a[0])
print(a[-1])

H
d

In [19]:
print(a[0:5])   #string slicing
print(a[6:])

Hello
World

In [21]:
print(a[6:100])

World

In [23]:
a = "Hello World"
c = len(a)
print(c)

11

In [25]:
print(a[c-1:0:-1])

dlroW olle

In [27]:
print(a[0:11:2])

HloWrd

In [29]:
print(a[::-1])

dlroW olleH

In [31]:
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [33]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i])

H
e
l
l
o

W
o
r
l
d

In [37]:
a = "Hello World. I am python."
l = len(a)
for i in range(l):
    if a[i]==".":
        print(i)

11
24

In [1]:
i = 0
a = "Hello World. I am python."
l = len(a)
while i<l:
    print(a[i],end ="")
    i=i+1

Hello World. I am python.

In [3]:
i = 0
a = "Hello World. I am python."
l = len(a)
while i<l:
    if a[i]==".":
        print(i)
    i=i+1

11
24

In [9]:
name = "Ram"
age = 30
add = "KAthmandu"
info = "Hello World I am"+name+"I am from"+add+"I am"+str(age)
print(info)

Hello World I amRamI am fromKAthmanduI am30

In [13]:
#string formatting
info = f"Hello World I am from {name} I am {add} I am {age}"
print(info)

Hello World I am from Ram I am KAthmandu I am 30

In [21]:
#Billing system
bill = ""
s=0
n=int(input("Enter n="))
for i in range(n):
    product = input("Enter product name =")
    price = int(input("Enter price ="))
    qty = float(input("Enter quantity ="))
    total = price*qty
    row = f"{product} {price} {qty} {total}\n"
    bill = bill+row
    s=s+total
print("Your Bill\n",bill)
print("Your Total\n",s)

Enter n= 2
Enter product name = Apple
Enter price = 300
Enter quantity = 2
Enter product name = Banana
Enter price = 120
Enter quantity = 3

Your Bill
 Apple 300 2.0 600.0
Banana 120 3.0 360.0

Your Total
 960.0

In [3]:
# search
data = "Ram Shyam Hari Sabin Rita"
name = input("Enter name=")
if name in data:
    print("Yes there is",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter name= Ram

Yes there is Ram
1

In [5]:
data = "Ram Shyam Hari Sabin Rita"
print(data.upper())
print(data.lower())

RAM SHYAM HARI SABIN RITA
ram shyam hari sabin rita

In [7]:
# search
data = "Ram Shyam Hari Sabin Rita".lower()
name = input("Enter name=").lower()
if name in data:
    print("Yes there is",name)
    print(data.count(name))
else:
    print("There is no such name")

Enter name= rAm

Yes there is ram
1

In [9]:
# replace()
data = "Ram Shyam Hari Sabin Rita"
data = data.replace("Hari","Harry")
print(data)

Ram Shyam Harry Sabin Rita

In [17]:
#replace()
data = "Ram Shyam Hari Sabin Rita"
data = data.replace("Hari","")
print(data)

Ram Shyam  Sabin Rita

In [15]:
a = "ram shyam hari sabin rita"
print(a.title())

Ram Shyam Hari Sabin Rita

In [27]:
# search and replace
data = "Ram Shyam Hari Sabin Rita Ramesh Nabin".lower()
name = input("Enter name=").lower()
if name in data:
    print("Yes there is",name)
    print(data.count(name))
    data =data.replace(name,"")
    print(data.title())
else:
    print("There is no such name")

Enter name= Ram

Yes there is ram
2
 Shyam Hari Sabin Rita Esh Nabin

In [29]:
data = "Ram Shyam Hari Sabin Rita Ramesh Nabin"
data =data[3:]
data =data[0:-3]

In [ ]:
# WAP to enter marks of the students calclate total percentage and grade and create a data entry application

In [5]:
result =""
n =int(input("Enter n="))
for i in range(n):
    name=int(input("Enter name="))
    phy=int(input("Enter physics="))
    che=int(input("Enter chemistry="))
    bio=int(input("Enter biology="))
    eng=int(input("Enter english="))
    nep=int(input("Enter nepali="))
    total=phy+che+bio+eng+nep
    per=total/5
    if physics>=45 and chemistry>=45 and biology>=45 and english>=45 and nepali>=45:
        if per>=80:
            grade= 'A'
        elif per>=60:
            grade='B'
        elif per>=45:
            grade='C'
    else:
        grade:'F'
        
    data=f"{name} {phy} {chem} {bio} {eng} {nep} {total} {percentage} {grade}\n"
    result= result + data

print(result)

Enter n= 3
Enter name= Ram

ValueError: invalid literal for int() with base 10: 'Ram'